<h3>{{question}}</h3>

<form class="questionForm" action="">
    {{#answers}}
        <input type="radio" name="answer" value="{{.}}">{{.}}<br>
    {{/answers}}
    <br/>
    
    <input class="submit" type="submit" value="Submit" disabled="true">
</form>

{{#selectedAnswer}}
    taetasfsd<br/>
    selected: {{selectedAnswer}}
{{/selectedAnswer}}